* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

.hidden {
	display: none;
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 900;
}

.alert {
	position: absolute;
	width: 50%;
	top: 13%;
	left: 25%;
}

#root {
	min-height: 750px;
}

div {
	margin: 5px 10px;
}

.top {
	width: 90%;
	height: 75px;
	padding: 10px;
}

.top>button {
	margin: 10px auto;
}

.main {
	width: 90%;
	min-height: 700px;
	padding: 5px 10px;
	padding-left: 3%;
	margin: auto;
	margin-top: 2%;
	background-color: #CD2626;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: 10px;
}

.title {
	margin: 10px;
	color: #FFD700;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.69);
}

.right, .poster {
	height: 60%;
	height: 543px;
	padding: 5px;
	float: left;
	background-color: white;
}

.right {
	width: 44%;
	height: 538px;
}

.poster {
	width: 45%;
}

.poster>h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.score, .timer, .guess {
	width: 95%;
	margin: 0;
	display: inline-block;
}

h2.score-number {
	font-size: 48px;
	color: darkgrey;
}

.poster>img {
	max-width: 320px;
	width: 94%;
	display: block;
	margin: 10px auto;
}

button {
	display: block;
	margin: auto;
	font-weight: bolder;
	cursor: pointer;
	border: 0px;
	width: 29%;
	height: 35px;
	background-color: #FFD700;
}

.top>button {
	border-radius: 4px;
	height: 40px;
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.99);
}

.guess {
	padding: 9px 15px;
}

button.next {
	width: 25%;
	height: 30px;
	padding: 3px;
	margin: 10px auto;
	border-radius: 5px;
}

form {
	text-align: left;
	padding: 0px 15px;
}

input {
	display: block;
	margin: auto;
	width: 99%;
	height: 40px;
	padding: 4px 10px;
	text-align: center;
}

input:nth-of-type(2) {
	margin-top: 15px;
}

input:disabled {
	font-weight: bolder;
	color: green;
	font-style: italic;
	font-size: 14px;
}

form>button {
	width: 99%;
}

.guess button:hover {
	background-color: #FFFF00;
}

.top>button:hover {
	padding-top: 5px;
	color: white;
	background-color: #EEC900;
	box-shadow: inset 3px 3px 6px 0px rgba(50, 50, 50, 0.75);
}

.scrollbar {
	display: none;
	position: fixed;
	height: 150px;
	width: 40px;
	right: 0px;
	top: 40%;
	padding: 4px;
}

.up, .down {
	margin: 0px auto;
	height: 45%;
	width: 90%;
	background-color: #FFD700;
	user-select: none;
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.99);
}

.down {
	margin-top: 8px;
}

.up>img, .down>img {
	margin: 80% auto;
}

@media only screen and (min-width: 510px) and (max-width: 620px) {

	h2, h3, h4, h2.score-number {
		font-size: 18px;
	}

}

@media only screen and (max-width: 510px) {

	.main {
		width: 100%;
		height: 1075px;
		padding-left: 10px;
		margin: 0;
		text-align: center;
	}

	.poster, .right {
		width: 95%;
		height: 510px;
		padding-top: 15px;
	}

	.right {
		height: 415px;
		margin-top: 10px;
	}

	h2, h3, h4 {
		margin: 3px auto;
	}

	h2.score-number {
		font-size: 25px;
	}

	.scrollbar {
		display: block;
	}
}

@media only screen and (orientation: portrait) {

	.top {
		width: 75%;
		margin: auto;
	}

	.main {
		position: absolute;
		top: 20px;
		width: 100%;
		height: 1100px;
		padding-left: 10px;
		margin: 0;
		text-align: center;
	}

	.poster, .right {
		float: none;
		margin: auto;
		width: 85%;
	}

	.right {
		height: 415px;
		padding-top: 15px;
	}

	h2, h3, h4 {
		margin: 3px auto;
	}

	h2.score-number {
		font-size: 25px;
	}

	form {
		width: 65%;
		margin: auto;
	}

	.scrollbar {
		display: block;
	}
}